page-user {

    .toolbar-background.toolbar-background-md{
        background-color: transparent;
    }

    p{
        -webkit-user-select: text;
    }

    h2{
        -webkit-user-select: text;
    }
}
